@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --dark-color: #3c4242;
  --grey-color: #807d7e;
  --white-color: #ffffff;
  --light-grey-color: #bebcbd;
  --thin-grey-color: #edeef2;
  --thin-white-color: #f6f6f6;
  --violet-color: #8a33fd;
}

.header {
  position: relative;
  height: 108px;
  padding: 32px 0;
  background-color: var(--white-color);
  z-index: 997;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  flex: 0 1 auto;
  margin-right: 40px;
}

.header-icon.menu__icon {
  display: none;
}

.menu__list {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.menu__link {
  color: var(--grey-color);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

.menu__link#Shop {
  color: var(--dark-color);
}

.search-panel {
  width: 267px;
  height: 44px;
  border-radius: 8px;
  padding: 12px 20px 12px 40px;
  border: none;
  background-color: #f6f6f6;
  margin-right: auto;
  background-image: url("../../assets/icon/search.svg");
  background-position: 4% center;
  background-repeat: no-repeat;
  background-size: auto;
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 1px;
}

[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-image: url("../../assets/icon/CloseCross.svg");
  background-size: 15px 15px;
}

.icon-soft {
  display: flex;
  gap: 12px;
  width: 156px;
  height: 44px;
}

.header-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background-color: #f6f6f6;
  transition: background-color 0.3s ease 0s;
}

.header-icon:hover {
  animation: tiltShaking infinite 0.3s linear;
  background-color: var(--violet-color);
}

#Icon path:hover {
  stroke: #fff;
}

.wishlist {
  background-image: url("../../assets/icon/heart.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.account__log {
  background-image: url("../../assets/icon/user.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.bracket {
  background-image: url("../../assets/icon/shoppingCart.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.search-panel-min {
  display: none;
}

.burger__list {
  display: none;
}

@media (max-width: 1111.98px) {
  .header__logo {
    margin-right: 20px;
  }
  .menu__list {
    gap: 20px;
    margin-right: 20px;
  }
  .icon-soft {
    margin-left: 20px;
  }
}
@media (max-width: 936.98px) {
  .header__container {
    justify-content: space-between;
  }
  .search-panel {
    display: none;
  }
  .icon-soft {
    width: 210px;
    margin-left: 0;
  }
  .search-panel-min {
    display: block;
    background-image: url("../../assets/icon/search.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
@media (max-width: 789.98px) {
  .menu__body {
    display: none;
  }
  .icon-soft {
    width: 266px;
  }
  .header-icon.menu__icon {
    display: block;
  }
  .menu__icon:hover {
    animation: none;
    background-color: initial;
  }
  .menu__icon {
    background-image: url("../../assets/icon/burger-menu.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform 0.1s ease 0s;
  }
  .menu__icon.active {
    transform: rotate(180deg);
  }
  .burger__list {
    display: block;
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    left: 0;
    top: 108px;
    background-color: var(--white-color);
    transform: translateX(100%);
    transition: transform 0.3s ease 0s;
  }
  .burger__list > .burger-min-icon {
    display: none;
  }
  .burger__list.active {
    transform: translateX(0%);
  }
}
@media (max-width: 459.98px) {
  .header__logo {
    margin-right: 5px;
  }
  .icon-soft {
    justify-content: flex-end;
  }
  .search-panel-min,
  .wishlist,
  .account__log {
    display: none;
  }
  .burger__list > .burger-min-icon {
    display: block;
  }
  .burger__list {
    flex-wrap: wrap;
    height: 100px;
    top: 105px;
    left: 0;
    z-index: 10;
  }
}
@media (max-width: 402.98px) {
  .burger__list {
    flex-wrap: wrap;
    height: 120px;
    gap: 20px;
    top: 105px;
    left: 0;
    z-index: 10;
  }
}
.footer {
  background-color: #3c4242;
  padding: 59px 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__info {
  display: flex;
  justify-content: space-around;
}

.footer__info-help,
.footer__info-company,
.footer__info-moreinfo,
.footer__info-location {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__info-help h3,
.footer__info-company h3,
.footer__info-moreinfo h3,
.footer__info-location h3 {
  color: rgb(246, 246, 246);
  font-family: Oswald;
  font-size: 28.58px;
  font-weight: 700;
  line-height: 200%;
  text-align: left;
  text-decoration: underline;
}

.footer__info-help > a,
.footer__info-company > a,
.footer__info-moreinfo > a,
.footer__info-location > a {
  color: rgb(246, 246, 246);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 216.9%;
  text-align: left;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 145px 0 47px;
}

.footer__web-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__download-link {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer__download-link h3 {
  color: rgb(246, 246, 246);
  font-family: Roboto;
  font-size: 28.58px;
  font-weight: 700;
  line-height: 216.9%;
  text-align: left;
}

.footer__copyright {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0%;
  text-align: center;
}

.footer__copyright {
  margin-top: 40px;
}

@media (max-width: 967.98px) {
  .footer__content {
    gap: 30px;
  }
  .footer__info {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer__info-help,
  .footer__info-company,
  .footer__info-moreinfo,
  .footer__info-location {
    align-items: center;
  }
  .footer__info-help h3,
  .footer__info-company h3,
  .footer__info-moreinfo h3,
  .footer__info-location h3 {
    font-size: 24px;
  }
  .footer__info-help > a,
  .footer__info-company > a,
  .footer__info-moreinfo > a,
  .footer__info-location > a {
    font-size: 14px;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
  }
  .footer__web-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer__download-link {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  .footer__download-link h3 {
    font-size: 28.58px;
    margin: 0 auto;
  }
  .footer__copyright {
    font-size: 18px;
  }
  .footer__copyright {
    margin-top: 40px;
  }
}
:root {
  --dark-color: #3c4242;
  --grey-color: #807d7e;
  --white-color: #ffffff;
  --light-grey-color: #bebcbd;
  --thin-grey-color: #edeef2;
  --thin-white-color: #f6f6f6;
  --violet-color: #8a33fd;
}

[class*=__container] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Oswald;
  font-weight: 400;
  font-size: 22px;
  background-color: var(--thin-white-color);
}

._lock {
  overflow: hidden;
}

:root {
  --dark-color: #3c4242;
  --grey-color: #807d7e;
  --white-color: #ffffff;
  --light-grey-color: #bebcbd;
  --thin-grey-color: #edeef2;
  --thin-white-color: #f6f6f6;
  --violet-color: #8a33fd;
}

.hero {
  position: relative;
}

.slide-hero {
  position: relative;
}

.swiper-hero-image {
  width: 100%;
  height: 70vh;
}

.hero__block-text {
  position: absolute;
  top: 5%;
  left: 15%;
  max-width: 439px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.block__hero-2 {
  position: absolute;
  top: 5%;
  right: 10%;
  max-width: 439px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subtitle-text {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.77px;
  letter-spacing: 0.16px;
  text-align: left;
  text-transform: capitalize;
}

.block-text__title {
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 78px;
  font-weight: 800;
  line-height: 93.62px;
  letter-spacing: 0.31px;
  text-align: left;
}

.block-text__text {
  color: rgb(255, 255, 255);
  font-family: Oswald;
  font-size: 32px;
  font-weight: 500;
  line-height: 47.21px;
  letter-spacing: 0.31px;
  text-align: left;
}

.hero__btn {
  color: rgb(60, 66, 66);
  font-family: Oswald;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  padding: 16px 72px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  text-align: center;
  display: inline-block;
  max-width: 250px;
}

.hero-pagination {
  display: none;
}

.hero-next,
.hero-prev {
  top: 47%;
}

.hero-prev {
  color: white;
  margin-left: 20px;
}

.hero-next {
  color: white;
  margin-right: 20px;
}

.swiper-scrollbar {
  display: none;
}

@media (max-width: 968.98px) {
  .swiper-hero-image {
    height: 50vh;
  }
  .hero__block-text {
    top: 20%;
    gap: 10px;
  }
  .block__hero-2 {
    top: 20%;
    gap: 10px;
  }
  .block__hero-2 {
    gap: 10px;
  }
  .subtitle-text {
    font-size: 22px;
  }
  .block-text__title {
    font-size: 44px;
    line-height: 50px;
  }
  .block-text__text {
    font-size: 22px;
  }
  .hero__btn {
    font-size: 16px;
    padding: 12px 42px;
    max-width: 150px;
  }
}
@media (max-width: 681.98px) {
  .swiper-hero-image {
    height: 50vh;
  }
  .hero__block-text {
    top: 14%;
    gap: 10px;
  }
  .hero-prev {
    display: none;
  }
  .hero-next {
    display: none;
  }
  .block__hero-2 {
    top: 14%;
    gap: 10px;
  }
  .block__hero-2 {
    gap: 10px;
    right: 0;
    width: 350px;
  }
  .subtitle-text {
    font-size: 22px;
  }
  .block-text__title {
    font-size: 44px;
    line-height: 50px;
    max-width: 350px;
  }
  .block-text__text {
    font-size: 22px;
  }
  .hero__btn {
    font-size: 16px;
    padding: 12px 42px;
    max-width: 150px;
  }
}
@media (max-width: 486.98px) {
  .swiper-hero-image {
    height: 40vh;
  }
  .hero__block-text {
    top: 10%;
    gap: 10px;
  }
  .block__hero-2 {
    top: 10%;
    gap: 10px;
  }
  .block__hero-2 {
    gap: 10px;
    right: 0;
    max-width: 250px;
  }
  .subtitle-text {
    font-size: 22px;
  }
  .block-text__title {
    font-size: 32px;
    line-height: 50px;
    max-width: 260px;
  }
  .block-text__text {
    font-size: 22px;
  }
  .hero__btn {
    font-size: 16px;
    padding: 12px 42px;
    max-width: 150px;
  }
}
.explore__container {
  margin-top: 130px;
  margin-bottom: 100px;
}

.explore__content {
  display: flex;
  height: 356px;
  justify-content: space-between;
}

.explore__leftside-content {
  width: 605px;
  background-image: url("../../assets/image/Shop/explore-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}

.explore__rightside-content {
  width: 605px;
  background-image: url("../../assets/image/Shop/The-Foxy-Hen-Get-a-quote.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}

.explore__block-text {
  margin: 67px auto 80px 28px;
  display: flex;
  flex-direction: column;
}

.explore__subtitle {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 30.07px;
  letter-spacing: 0.25px;
  margin-bottom: 24px;
}

.explore__title {
  color: var(--white-color);
  font-size: 34px;
  font-weight: 800;
  line-height: 45.1px;
  letter-spacing: 0;
  margin-bottom: 10px;
  max-width: 264px;
}

.explore__text {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 25.06px;
  letter-spacing: 0.25px;
  margin-bottom: 42px;
}

.explore__link {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 800;
  line-height: 30.13px;
  text-decoration-line: underline;
}

@media (max-width: 1259.98px) {
  .explore__content {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 767.98px) {
  .explore__content {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .explore__leftside-content,
  .explore__rightside-content {
    width: 100%;
  }
}
@media (max-width: 375.98px) {
  .explore__block-text {
    margin: 67px auto 50px 10px;
  }
}
.arrival {
  margin-bottom: 95px;
}

.arrival__container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.arrival__wrapper-text,
.wrapper__text {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 34px;
  font-weight: 600;
  line-height: 33.5px;
  letter-spacing: 2%;
  text-align: left;
  padding-left: 26px;
  border-radius: 4px;
  border-left: 6px solid var(--violet-color);
}

.arrival__content {
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
  max-width: 1240px;
  overflow: visible;
}

.arrival__column {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.arrival-image {
  width: 262px;
  height: 262px;
}

.arival-text {
  color: var(--dark-color);
  font-family: Oswald;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1%;
  text-align: left;
}

@media (max-width: 1129.98px) {
  .arrival__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    justify-content: center;
    gap: 20px;
  }
}
.saving-zone {
  margin-bottom: 100px;
}

.saving-zone__content {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.grid-saving-zone {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6, 200px));
  grid-template-rows: repeat(2, 393px);
  row-gap: 20px;
}

.item-zone {
  padding: 65px 0 65px 20px;
  display: flex;
  flex-direction: column;
}

.grid-item-zone-2 .grid-item__title {
  max-width: 200px;
}

.dark-btn-zone {
  color: #000;
}

.grid-item-zone-1 {
  grid-column: 1/span 2;
  background-image: url("../../assets/image/Shop/1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 20px;
  border-radius: 12px;
}

.grid-item-zone-2 {
  grid-column: 3/span 2;
  background-image: url("../../assets/image/Shop/2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  align-items: flex-end;
  padding: 34px 20px 65px 0;
  margin-right: 20px;
  border-radius: 12px;
}

.grid-item-zone-3 {
  grid-column: 5/span 2;
  background-image: url("../../assets/image/Shop/3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 12px;
  align-items: flex-end;
  padding: 100px 20px 65px 0;
}

.grid-item-zone-4 {
  grid-row: 2;
  grid-column: 1/span 3;
  background-image: url("../../assets/image/Shop/4.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 12px;
  margin-right: 20px;
  align-items: flex-end;
  padding: 65px 50px 65px 0;
}

.grid-item-zone-5 {
  grid-row: 2;
  grid-column: 4/span 3;
  background-image: url("../../assets/image/Shop/5.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 12px;
  align-items: flex-end;
  padding: 75px 50px 65px 0;
}

.grid-item-zone-5 .grid-item__title {
  max-width: 250px;
}

.grid-item__title {
  font-family: Oswald;
  font-size: 28px;
  font-weight: 600;
  line-height: 38.43px;
  letter-spacing: 2%;
  margin-bottom: 10px;
  max-width: 165px;
}

.grid-item-zone__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.grid-item-zone__price {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 61px;
}

.grid-item-zone__btn {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  padding: 11px 35.5px;
  border-radius: 3px;
  border: 1px solid #000;
  max-width: 132px;
}

.grid-item__limited {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  padding: 10px 16px;
  border-radius: 4px;
  background: var(--dark-color);
  max-width: 104px;
  margin-bottom: 29px;
}

.white-title-zone,
.white-text-zone,
.white-price-zone,
.white-btn-zone {
  color: var(--white-color);
}

.white-btn-zone {
  border: 1px solid var(--white-color);
}

@media (max-width: 1049.98px) {
  .grid-saving-zone {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2, 200px));
    grid-template-rows: repeat(3, 393px);
    row-gap: 20px;
  }
  .grid-item-zone-1 {
    grid-column: 1/span 3;
  }
  .grid-item-zone-2 {
    grid-column: 4/span 3;
    margin-right: 0;
  }
  .grid-item-zone-3 {
    grid-row: 2;
    grid-column: 1/span 3;
    margin-right: 20px;
  }
  .grid-item-zone-4 {
    grid-row: 2;
    grid-column: 4/span 3;
    margin-right: 0;
  }
  .grid-item-zone-5 {
    grid-row: 3;
    grid-column: 1/span 6;
  }
}
@media (max-width: 767.98px) {
  .grid-saving-zone {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1, 200px));
    grid-template-rows: repeat(5, 393px);
    row-gap: 20px;
  }
  .grid-item-zone-1 {
    grid-column: 1/span 6;
    margin-right: 0;
  }
  .grid-item-zone-2 {
    grid-row: 2;
    grid-column: 1/span 6;
    margin-right: 0;
  }
  .grid-item-zone-3 {
    grid-row: 3;
    grid-column: 1/span 6;
    margin-right: 0;
  }
  .grid-item-zone-4 {
    grid-row: 4;
    grid-column: 1/span 6;
    margin-right: 0;
  }
  .grid-item-zone-5 {
    grid-row: 5;
    grid-column: 1/span 6;
    margin-right: 0;
  }
}
.fashion {
  margin-bottom: 100px;
}

.fashion__container {
  display: flex;
  height: 640px;
}

.fashion__ls {
  width: 614px;
  position: relative;
  background-image: url("../../assets/image/Shop/fashion-1.jpeg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.fashion__content {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  max-width: 466px;
}

.fashion__title {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 34px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0.21px;
  margin-bottom: 30px;
}

.fashion__text {
  color: var(--white-color);
  font-family: Oswald;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.fashion__link {
  text-align: center;
  padding: 12px 44px;
  border-radius: 8px;
  border: none;
  color: var(--dark-color);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  background-color: var(--white-color);
  max-width: 168px;
  box-sizing: border-box;
}

.fashion__rs {
  width: 626px;
  background-image: url("../../assets/image/Shop/fashion-2.jpeg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1161.98px) {
  .fashion__title {
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.21px;
  }
  .fashion__text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
  }
  .fashion__link {
    font-size: 16px;
    padding: 10px 11px;
    max-width: 108px;
  }
}
@media (max-width: 834.98px) {
  .fashion__title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.21px;
    margin-bottom: 20px;
  }
  .fashion__text {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .fashion__link {
    font-size: 12px;
    padding: 5px 8px;
    max-width: 78px;
  }
}
@media (max-width: 767.98px) {
  .fashion {
    margin-bottom: -100px;
  }
  .fashion__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .fashion__ls {
    height: 300px;
    width: 100%;
    background-image: url("../../assets/image/Shop/fashion-1.jpeg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
  }
  .fashion__content {
    margin-right: 20px;
    top: 40px;
  }
  .fashion__rs {
    display: none;
  }
}
.categories__content {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 100px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 273px);
  grid-template-rows: repeat(2, 451px);
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.categories-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categories-item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-ls {
  display: flex;
  flex-direction: column;
}

.item-ls span:nth-child(1) {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 17.88px;
  font-weight: 700;
  line-height: 27.93px;
  letter-spacing: -4%;
  text-align: left;
  margin-bottom: 8px;
}

.item-ls span:last-child {
  color: rgb(127, 127, 127);
  font-family: Roboto;
  font-size: 13.41px;
  font-weight: 500;
  letter-spacing: -4%;
  text-align: left;
}

.grid-categories {
  display: grid;
  grid-template-columns: repeat(4, 273px);
  grid-template-rows: repeat(1, 451px);
  -moz-column-gap: 50px;
       column-gap: 50px;
}

@media (max-width: 1268.98px) {
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 273px);
    grid-template-rows: repeat(auto-fit, 451px);
    row-gap: 50px;
    -moz-column-gap: 50px;
         column-gap: 50px;
    justify-content: space-evenly;
  }
}
.brands {
  margin-bottom: 77px;
}

.brands__container {
  box-sizing: border-box;
  border: 1.07px solid rgb(50, 50, 50);
  border-radius: 12px;
  background: rgb(60, 66, 66);
  max-height: auto;
}

.brands__content {
  display: flex;
  flex-direction: column;
  padding: 43px 124px 60px 124px;
}

.brands__title {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 50px;
  font-weight: 500;
  line-height: 49px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.brands__text {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 67px;
}

.brands__text span {
  color: #fbd103;
}

.brands__shops {
  display: flex;
  justify-content: space-between;
}

.brands__canvas, .brands__shops .brands__canvas:nth-child(5), .brands__shops .brands__canvas:nth-child(4), .brands__shops .brands__canvas:nth-child(3), .brands__shops .brands__canvas:nth-child(2), .brands__shops .brands__canvas:nth-child(1) {
  width: 177px;
  height: 85px;
  border-radius: 12px;
  background: var(--white-color);
}

.brands__canvas, .brands__shops .brands__canvas:nth-child(5), .brands__shops .brands__canvas:nth-child(4), .brands__shops .brands__canvas:nth-child(3), .brands__shops .brands__canvas:nth-child(2), .brands__shops .brands__canvas:nth-child(1) {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.brands__shops .brands__canvas:nth-child(1) {
  background-image: url("../../assets/image/Shop/Nike.png");
}

.brands__shops .brands__canvas:nth-child(2) {
  background-image: url("../../assets/image/Shop/H&M.png");
}

.brands__shops .brands__canvas:nth-child(3) {
  background-image: url("../../assets/image/Shop/Levis.png");
}

.brands__shops .brands__canvas:nth-child(4) {
  background-image: url("../../assets/image/Shop/Polo.png");
}

.brands__shops .brands__canvas:nth-child(5) {
  background-image: url("../../assets/image/Shop/Puma.png");
}

@media (max-width: 1289.98px) {
  .brands__container {
    margin: 0 15px;
  }
  .brands__content {
    display: flex;
    flex-direction: column;
  }
  .brands__shops {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 673.98px) {
  .brands {
    margin-bottom: 57px;
  }
  .brands__content {
    padding: 43px 84px 60px 84px;
  }
  .brands__content {
    display: flex;
    flex-direction: column;
  }
  .brands__title {
    font-size: 40px;
  }
  .brands__text {
    font-size: 18px;
    margin-bottom: 47px;
  }
}
@media (max-width: 431.98px) {
  .brands__content {
    padding: 43px 40px 60px 40px;
  }
  .brands__content {
    display: flex;
    flex-direction: column;
  }
  .brands__title {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 15px;
  }
  .brands__text {
    font-size: 16px;
    margin-bottom: 27px;
  }
}
.limelight__container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.item-rs-price {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding: 10px 19px;
  box-sizing: border-box;
  background-color: #edeef2;
  border-radius: 8px;
  border: none;
}

.feedback-swiper {
  margin: 70px 0 100px 0;
}

.feedback-slide {
  width: 398px;
  height: 296px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border: 1.8px solid rgb(190, 188, 189);
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.feedback-slide-image-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.feedback-slide-image-block img:nth-child(1) {
  width: 58px;
  height: 58px;
}

.feedback-slide-textblock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feedback-slide-name {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 2%;
}

.feedback-slide-text {
  color: rgb(128, 125, 126);
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 2%;
  text-align: left;
  overflow: hidden;
}

:root {
  --dark-color: #3c4242;
  --grey-color: #807d7e;
  --white-color: #ffffff;
  --light-grey-color: #bebcbd;
  --thin-grey-color: #edeef2;
  --thin-white-color: #f6f6f6;
  --violet-color: #8a33fd;
}

.account-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.9058823529);
  opacity: 0;
  visibility: hidden;
}

.account-popup.open {
  opacity: 1;
  visibility: visible;
}

.account-popup.open .account-popup__content {
  opacity: 1;
  transform: translate(0px, 0%);
}

.account-popup__body {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-popup__content {
  position: relative;
  max-height: 860px;
  background-color: var(--thin-white-color);
  color: #000;
  overflow: hidden;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: transform 0.8s ease 0s;
}

.header-popup__container {
  display: flex;
  align-items: center;
}

.account-popup__close {
  position: absolute;
  z-index: 999;
  top: 43px;
  right: 35px;
  font-weight: 900;
  cursor: pointer;
  color: black;
  font-size: 26px;
}

.header__popup-btn {
  display: flex;
  gap: 30px;
}

.header__popup-login {
  color: var(--white-color);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  box-sizing: border-box;
  padding: 10px 48px 12px 48px;
  letter-spacing: 2px;
  border-radius: 8px;
  border: none;
  background-color: var(--violet-color);
  cursor: pointer;
}

.header__popup-signup {
  color: var(--violet-color);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  box-sizing: border-box;
  padding: 10px 48px 12px 48px;
  letter-spacing: 2px;
  border-radius: 8px;
  border: 1px solid var(--dark-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.header__container {
  justify-content: space-between;
}

.main__popup {
  display: flex;
  max-height: 752px;
}

.main__popup-leftside {
  flex: 0 1 695px;
}

.main__popup-rightside {
  flex: 0 1 745px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  float: left;
}

.popup-rightside__title {
  color: #333333;
  font-family: Oswald;
  font-size: 34px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 2%;
  margin: 0 auto 46px 0;
}

.popup-rightside__auth {
  width: 568px;
  color: var(--violet-color);
  font-family: Oswald;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  padding: 14px 0;
  border-radius: 8px;
  border: 1px solid var(--dark-color);
  cursor: pointer;
}

.main__popup-rightside > a:nth-child(2) {
  margin-bottom: 20px;
}

.hr__line-block {
  margin: 50px 0;
  display: flex;
  align-items: center;
}

.hr__line-block hr {
  width: 247px;
  height: 2px;
  background: rgba(102, 102, 102, 0.25);
}

.hr__line-block span {
  padding: 0 23px;
  color: #666666;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.label-popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-popup span {
  color: rgb(60, 66, 66);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 2%;
  text-align: left;
}

.email-popup,
.password-popup {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(60, 66, 66);
  border-radius: 8px;
  color: var(--dark-color);
  font-size: 18px;
  letter-spacing: 2px;
}

.email-popup::-moz-placeholder, .password-popup::-moz-placeholder {
  font-size: 16px;
}

.email-popup::placeholder,
.password-popup::placeholder {
  font-size: 16px;
}

.label-popup {
  margin-bottom: 30px;
}

.password-textblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-content {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hide-content a {
  color: rgb(128, 125, 126);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.password-label > a {
  color: var(--dark-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: right;
  text-decoration-line: underline;
}

.login-popup-btn {
  max-width: 167px;
  margin-bottom: 10px;
  text-align: center;
}

.bottom-text-popup {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bottom-text-popup span {
  color: #3c4242;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.bottom-text-popup a {
  color: #3c4242;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: underline;
}

:root {
  --dark-color: #3c4242;
  --grey-color: #807d7e;
  --white-color: #ffffff;
  --light-grey-color: #bebcbd;
  --thin-grey-color: #edeef2;
  --thin-white-color: #f6f6f6;
  --violet-color: #8a33fd;
}