@import "../components/ui";

// =================Bracket Empty====================//

.cart-empty {
	height: 745px !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	> img {
		margin-bottom: 50px;
	}
	> h3 {
		margin-bottom: 8px;
		color: black;
		font-family: $ff1;
		font-size: 34px;
		font-weight: 600;
		line-height: 33px;
		text-align: left;
	}
	> p {
		margin-bottom: 50px;
		color: rgb(128, 125, 126);
		font-family: $ff1;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
	}
	> a {
		color: var(--white-color);
		font-family: $ff1;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		text-align: center;
		padding: 12px 48px;
		background-color: var(--violet-color);
		border: none;
		border-radius: 8px;
	}
}

// =================Bracket====================//
#html-bread {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
}

.cart {
	margin: 50px 0;
	display: block;
}

.cart__unregistered-content {
	display: flex;
	flex-direction: column;
	> div {
		margin-bottom: 30px;
	}
	> p {
		max-width: 600px;
		color: rgb(128, 125, 126);
		font-family: $ff2;
		font-size: 14px;
		font-weight: 400;
		line-height: 17px;
		letter-spacing: 1px;
		text-align: left;
		> a {
			font-family: $ff2;
			font-size: 14px;
			font-weight: 600;
			line-height: 17px;
			color: #8a33fd;
		}
	}
}

#topLineBracket {
	color: var(--white-color);
	font-family: $ff2;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
}

.cart__bracket {
	display: flex;
	flex-direction: column;
}
.cart__braket-topLine {
	position: relative;
	background: var(--dark-color);
	margin-top: 50px;
}
.cart__braket-topLine__container {
	height: 76px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	> p:first-child {
		flex: 0 1 240px;
	}
}

// =================Bracket Script====================//

.product__container {
	display: flex;
	align-items: center;
	margin: 50px auto 50px auto;
}
.details__box {
	display: flex;
	gap: 20px;
	flex: 0 1 340px;
}
.details__box-text {
	display: flex;
	flex-direction: column;
	gap: 9px;
}
.image-cart {
	width: 105px;
	height: 120px;
	border: none;
	border-radius: 12px;
}
.details__title,
.details__price,
.details__totalPrice {
	display: flex;
	flex-wrap: wrap;
	color: var(--dark-color);
	font-family: $ff2;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}
.details__price {
	display: flex;
	flex: 0 1 100px;
	justify-content: center;
	margin-right: 60px;
}
.details__quantity {
	display: flex;
	height: 36px;
	max-width: 100px;
	justify-content: center;
	padding: 11px 23px;
	margin: 0 100px 0 40px;
	align-items: center;
	gap: 10px;
	border-radius: 12px;
	background: #dbdada;
}
.details__btn {
}
.details__color,
.details__size {
	color: rgb(128, 125, 126);
	font-family: $ff2;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}
.details__totalPrice {
	display: flex;
	flex: 0 1 180px;
	justify-content: center;
	margin-right: 100px;
}
.details__shipping {
	color: rgb(190, 188, 189);
	font-family: $ff3;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	display: flex;
	flex: 0 1 130px;
	justify-content: center;
	margin-right: 60px;
}
.details__quantity--counter {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
}
.details__minus,
.details__plus {
	display: flex;
	background-color: transparent;
	font-size: 30px;
	height: 52px;
}
.details__plus {
	padding-top: 3px;
}

// =================Bracket Media====================//
@media (max-width: 496px) {
	.cart-empty {
		height: 585px !important;
		> img {
			width: 90%;
			margin: 0 15px 50px 0;
		}
		> h3 {
			font-size: 1em;
		}
	}
}
