@import "../components/ui";

.account-popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 998;
	background-color: #000000e7;
	opacity: 0;
	visibility: hidden;
}
.account-popup.open {
	opacity: 1;
	visibility: visible;
}
.account-popup.open .account-popup__content {
	opacity: 1;
	transform: translate(0px, 0%);
}
.account-popup__body {
	max-width: 1440px;
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.account-popup__content {
	position: relative;
	max-height: 860px;
	background-color: var(--thin-white-color);
	color: #000;
	overflow: hidden;
	opacity: 0;
	transform: translate(0px, -100%);
	transition: transform 0.8s ease 0s;
}
.header-popup__container {
	display: flex;
	align-items: center;
}
.account-popup__close {
	position: absolute;
	z-index: 999;
	top: 43px;
	right: 35px;
	font-weight: 900;
	cursor: pointer;
	color: black;
	font-size: 26px;
}
.header__popup-btn {
	display: flex;
	gap: 30px;
}
.header__popup-login {
	color: var(--white-color);
	font-family: $ff1;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	box-sizing: border-box;
	padding: 10px 48px 12px 48px;
	letter-spacing: 2px;
	border-radius: 8px;
	border: none;
	background-color: var(--violet-color);
	cursor: pointer;
}
.header__popup-signup {
	color: var(--violet-color);
	font-family: $ff1;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	box-sizing: border-box;
	padding: 10px 48px 12px 48px;
	letter-spacing: 2px;
	border-radius: 8px;
	border: 1px solid var(--dark-color);
	background-color: var(--white-color);
	cursor: pointer;
}
.header__container {
	justify-content: space-between;
}
.main__popup {
	display: flex;
	max-height: 752px;
}
.main__popup-leftside {
	flex: 0 1 695px;
}
.main__popup-rightside {
	flex: 0 1 745px;
	padding: 40px 80px;
	display: flex;
	flex-direction: column;
	float: left;
}
.popup-rightside__title {
	color: #333333;
	font-family: $ff1;
	font-size: 34px;
	font-weight: 600;
	line-height: 33px;
	letter-spacing: 2%;
	margin: 0 auto 46px 0;
}
.popup-rightside__auth {
	width: 568px;
	color: var(--violet-color);
	font-family: $ff1;
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
	padding: 14px 0;
	border-radius: 8px;
	border: 1px solid var(--dark-color);
	cursor: pointer;
}
.main__popup-rightside > a:nth-child(2) {
	margin-bottom: 20px;
}
.hr__line-block {
	margin: 50px 0;
	display: flex;
	align-items: center;
}
.hr__line-block hr {
	width: 247px;
	height: 2px;
	background: rgba(102, 102, 102, 0.25);
}
.hr__line-block span {
	padding: 0 23px;
	color: #666666;
	font-family: $ff2;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
}
.label-popup {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.label-popup span {
	color: rgb(60, 66, 66);
	font-family: $ff1;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 2%;
	text-align: left;
}
.email-popup,
.password-popup {
	padding: 10px 20px;
	box-sizing: border-box;
	border: 1px solid rgb(60, 66, 66);
	border-radius: 8px;
	color: var(--dark-color);
	font-size: 18px;
	letter-spacing: 2px;
}
.email-popup::placeholder,
.password-popup::placeholder {
	font-size: 16px;
}
.label-popup {
	margin-bottom: 30px;
}
.password-textblock {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hide-content {
	display: flex;
	align-items: center;
	gap: 16px;
	a {
		color: rgb(128, 125, 126);
		font-family: $ff2;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
	}
}
.password-label > a {
	color: var(--dark-color);
	font-family: $ff2;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: right;
	text-decoration-line: underline;
}
.login-popup-btn {
	max-width: 167px;
	margin-bottom: 10px;
	text-align: center;
}
.bottom-text-popup {
	display: flex;
	align-items: center;
	gap: 10px;
	span {
		color: #3c4242;
		font-family: $ff2;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
	}
	a {
		color: #3c4242;
		font-family: $ff2;
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		text-decoration: underline;
	}
}
