@import "../components/ui";

// =================Hero====================//
.hero {
	position: relative;
}
.slide-hero {
	position: relative;
}
.swiper-hero-image {
	width: 100%;
	height: 60vh;
}
.hero__block-text {
	position: absolute;
	top: 40px;
	left: 200px;
	max-width: 439px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.block__hero-2 {
	position: absolute;
	top: 40px;
	right: 200px;
	max-width: 439px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.subtitle-text {
	color: var(--white-color);
	font-family: Roboto;
	font-size: 32px;
	font-weight: 500;
	line-height: 37.77px;
	letter-spacing: 0.16px;
	text-align: left;
	text-transform: capitalize;
}
.block-text__title {
	color: rgb(255, 255, 255);
	font-family: Oswald;
	font-size: 78px;
	font-weight: 800;
	line-height: 93.62px;
	letter-spacing: 0.31px;
	text-align: left;
}
.block-text__text {
	color: rgb(255, 255, 255);
	font-family: Oswald;
	font-size: 32px;
	font-weight: 500;
	line-height: 47.21px;
	letter-spacing: 0.31px;
	text-align: left;
}
.hero__btn {
	color: rgb(60, 66, 66);
	font-family: Oswald;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	padding: 16px 72px;
	background-color: #fff;
	border-radius: 8px;
	border: none;
	text-align: center;
	display: inline-block;
	max-width: 250px;
}
.hero-pagination {
	display: none;
}
.hero-next,
.hero-prev {
	top: 47%;
}
.hero-prev {
	color: white;
	margin-left: 20px;
}
.hero-next {
	color: white;
	margin-right: 20px;
}
.swiper-scrollbar {
	display: none;
}
// =================Hero Media====================//

// =================Explore====================//

.explore__container {
	margin-top: 130px;
	margin-bottom: 100px;
}
.explore__content {
	display: flex;
	height: 356px;
	justify-content: space-between;
}
.explore__leftside-content {
	width: 605px;
	background-image: url("../../assets/image/Shop/explore-1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 10px;
}
.explore__rightside-content {
	width: 605px;
	background-image: url("../../assets/image/Shop/The-Foxy-Hen-Get-a-quote.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 10px;
}
.explore__block-text {
	margin: 67px auto 80px 28px;
	display: flex;
	flex-direction: column;
}
.explore__subtitle {
	color: var(--white-color);
	font-family: $ff3;
	font-size: 18px;
	font-weight: 800;
	line-height: 30.07px;
	letter-spacing: 0.25px;
	margin-bottom: 24px;
}
.explore__title {
	color: var(--white-color);
	font-size: 34px;
	font-weight: 800;
	line-height: 45.1px;
	letter-spacing: 0;
	margin-bottom: 10px;
	max-width: 264px;
}
.explore__text {
	color: var(--white-color);
	font-size: 16px;
	font-weight: 500;
	line-height: 25.06px;
	letter-spacing: 0.25px;
	margin-bottom: 42px;
}
.explore__link {
	color: var(--white-color);
	font-size: 20px;
	font-weight: 800;
	line-height: 30.13px;
	text-decoration-line: underline;
}
// =================Explore Media====================//

@media (max-width: 1259.98px) {
	.explore__content {
		display: flex;
		gap: 10px;
	}
}
@media (max-width: 767.98px) {
	.explore__content {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.explore__leftside-content,
	.explore__rightside-content {
		width: 100%;
	}
}
@media (max-width: 375.98px) {
	.explore__block-text {
		margin: 67px auto 50px 10px;
	}
}

// =================Arrival====================//
.arrival {
	margin-bottom: 95px;
}
.arrival__container {
	display: flex;
	flex-direction: column;
	gap: 70px;
}
.arrival__wrapper-text,
.wrapper__text {
	color: var(--dark-color);
	font-family: $ff2;
	font-size: 34px;
	font-weight: 600;
	line-height: 33.5px;
	letter-spacing: 2%;
	text-align: left;
	padding-left: 26px;
	border-radius: 4px;
	border-left: 6px solid var(--violet-color);
}
.arrival__content {
	display: flex;
	justify-content: space-around;
	overflow-x: scroll;
	max-width: $containerwidth;
	overflow: visible;
}
.arrival__column {
	display: flex;
	flex-direction: column;
	gap: 33px;
}
.arrival-image {
	width: 262px;
	height: 262px;
}
.arival-text {
	color: var(--dark-color);
	font-family: $ff1;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1%;
	text-align: left;
}
// =================Arrival Media====================//

@media (max-width: 1129.98px) {
	.arrival__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: stretch;
		justify-content: center;
		gap: 20px;
	}
}

// =================Saving Zone====================//

.saving-zone {
	margin-bottom: 100px;
}

.saving-zone__content {
	display: flex;
	flex-direction: column;
	gap: 70px;
}
.saving-zone__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 393px);
	gap: 20px;
	grid-auto-flow: row;
	grid-template-areas:
		"A B C"
		"D D E";
}

.zone-item-top-1 {
	grid-area: A;
	width: 400px;
	height: 393px;
	background-image: url("../../assets/image/Shop/1.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}

.zone-item-top-2 {
	grid-area: B;
	width: 400px;
	height: 393px;
	background-image: url("../../assets/image/Shop/2.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}

.zone-item-top-3 {
	grid-area: C;
	width: 400px;
	height: 393px;
	background-image: url("../../assets/image/Shop/3.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}

.zone-item-bottom {
	display: grid;
	grid-area: D;
	grid-template-columns: repeat(2, 610px);
	grid-template-rows: 393px;
	gap: 20px;
	grid-auto-flow: row;
	grid-template-areas: ". .";
}
.bottom-first {
	grid-area: D;
	background-image: url("../../assets/image/Shop/4.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.bottom-second {
	grid-area: E;
	background-image: url("../../assets/image/Shop/5.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}

// =================Saving Zone Media====================//
