@import "../components/ui";

[class*="__container"] {
	max-width: 1270px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

body {
	font-family: $ff1;
	font-weight: 400;
	font-size: 22px;
	background-color: var(--thin-white-color);
}

body.lock {
	overflow: hidden;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

details summary::-webkit-details-marker {
	display: none;
}
